# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/app/cache/*
/app/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep


# Assets and user uploads
/web/uploads/


# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# PHPStorem folder
/.idea/*

# Mac OS Files
/.DS_Store

# netbeans folder
/nbproject
/backup
